<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar</title>
    <head>
  <link rel="stylesheet" href="/static/actualizar.css"> 
</head>
<body>
    <div class="formulario">
        <form method="post" action="/actualizar_cliente">
         <input type="hidden" name="txtid" value="{{dato[0]}}">

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="txtnombre" value="{{dato[1]}}">
            <label for="nit">Nit</label>
            <input type="text" id="nit" name="txtnit" value="{{dato[2]}}">
            <input type="submit" value="Actualizar">
        </form>
    </div>
</body>
</html>
