body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #a0d8ef, #3594fa); /* celeste a azul */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario {
  background: #ace5ffa2;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.formulario label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.formulario input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.formulario input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.formulario input[type="submit"] {
  margin-top: 25px;
  padding: 12px;
  background-color: #4ea0f7;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.formulario input[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.03);
}
