body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #00aeff, #afdbff); /* Celeste a azul */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: rgb(157, 219, 255);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  
}

form p {
  margin: 5px 0 10px;
  font-weight: bold;
  color: #333;
}

form label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

form select,
form input[type="text"] {
  padding: 10px;
  border: 1px solid #bae9ff;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

form input[type="text"]:focus,
form select:focus {
  border-color: #2196f3;
  outline: none;
}

form input[type="submit"] {
  margin-top: 20px;
  padding: 12px;
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

form input[type="submit"]:hover {
  background-color: #1565c0;
  transform: scale(1.03);
}
